.bodyfoot {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}
.bodyfoot .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #000;
    border-top: 1px solid #333;
}
.bodyfoot .footer div {
    text-align: center;
}
.bodyfoot .footer h3 {
    color: #00ffff;
    font-size: 18px;
    margin-bottom: 10px;
}
.bodyfoot .footer p, .footer a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.bodyfoot .footer .social-icons a {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: #003366;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    justify-content: center;
    
}
.social-icons a i{
    margin-top: 0.5em;
}
.bodyfoot .footer .social-icons a:hover {
    background-color: #00ffff;
}
.bodyfoot .footer .logo img {
    width: 100px;
}
.bodyfoot .footer .logo p {
    margin-top: 10px;
}
.bodyfoot .footer .popular-links ul {
    list-style: disc;
    padding: 0;
    text-align: start;
}
.bodyfoot .footer .popular-links ul li {
    margin: 5px;
}
.lastfoot{
    text-align: center;
}
.youtubl{
    margin-top: 7em;
}
.social-icons{
    display: flex;
    

}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .bodyfoot .footer {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }

    .bodyfoot .footer div {
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }

    .youtubl {
        margin-top: 3em;
    }

    .bodyfoot .footer .popular-links ul {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .bodyfoot .footer h3 {
        font-size: 16px;
    }

    .bodyfoot .footer p, .footer a {
        font-size: 12px;
    }

    .bodyfoot .footer .social-icons a {
        width: 35px;
        height: 35px;
    }
}