.bodyaddress {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.bodyaddress .container {
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
}
.bodyaddress .back-link {
    color: #d32f2f;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.back-link:hover{
    text-decoration: underline;
}
.bodyaddress .section-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bodyaddress .section-title i {
    color: #d32f2f;
    margin-right: 10px;
}
.bodyaddress .form-group {
    margin-bottom: 15px;
}
.bodyaddress .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.bodyaddress .form-group input, .form-group select {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.bodyaddress .form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}
.bodyaddress .form-group .info-icon {
    color: #d32f2f;
    margin-left: 5px;
}
.bodyaddress .shipping-method {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.bodyaddress .shipping-method label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}
.bodyaddress .shipping-method .price {
    font-weight: bold;
}
.bodyaddress .shipping-method input[type="radio"] {
    margin-right: 10px;
}
.bodyaddress .shipping-method .details {
    font-size: 12px;
    color: #666;
}
.bodyaddress .shipping-method.selected {
    border-color: #d32f2f;
}
.bodyaddress .gift-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.bodyaddress .gift-wrap input[type="checkbox"] {
    margin-right: 10px;
}
.bodyaddress .gift-wrap .price {
    font-weight: bold;
}
.bodyaddress .continue-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d32f2f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.gender{
    display: flex;
    
}
.gender div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 2em;
}
.gender div .btn{
    margin-top: -0.5em;
}

